# Force AndroidX usage
legacy-peer-deps=true
strict-peer-dependencies=false

# Force specific AndroidX versions
androidx.core:core=1.13.1
androidx.media:media=1.0.0
androidx.appcompat:appcompat=1.6.1
androidx.fragment:fragment=1.6.2
androidx.annotation:annotation=1.7.1
androidx.collection:collection=1.4.0
androidx.lifecycle:lifecycle-common=2.7.0
androidx.lifecycle:lifecycle-runtime=2.7.0
androidx.versionedparcelable:versionedparcelable=1.1.1
androidx.interpolator:interpolator=1.0.0
androidx.cursoradapter:cursoradapter=1.0.0
androidx.loader:loader=1.1.0
androidx.viewpager:viewpager=1.0.0
androidx.drawerlayout:drawerlayout=1.2.0
androidx.slidingpanelayout:slidingpanelayout=1.2.0
androidx.customview:customview=1.1.0
androidx.swiperefreshlayout:swiperefreshlayout=1.1.0
androidx.asynclayoutinflater:asynclayoutinflater=1.0.0
androidx.coordinatorlayout:coordinatorlayout=1.2.0
androidx.recyclerview:recyclerview=1.3.2
androidx.transition:transition=1.4.1
androidx.vectordrawable:vectordrawable=1.1.0
androidx.vectordrawable:vectordrawable-animated=1.1.0
androidx.arch.core:core-common=2.2.0
androidx.arch.core:core-runtime=2.2.0
androidx.documentfile:documentfile=1.0.1
androidx.localbroadcastmanager:localbroadcastmanager=1.1.0
androidx.print:print=1.0.0
androidx.annotation:annotation-experimental=1.4.0

# Exclude old Support Library packages
exclude=com.android.support:support-compat
exclude=com.android.support:support-media-compat
exclude=com.android.support:support-v4
exclude=com.android.support:appcompat-v7
exclude=com.android.support:support-annotations
exclude=com.android.support:support-core-utils
exclude=com.android.support:support-core-ui
exclude=com.android.support:support-fragment
exclude=com.android.support:recyclerview-v7
exclude=com.android.support:cardview-v7
exclude=com.android.support:design
exclude=com.android.support:palette-v7
exclude=com.android.support:percent
exclude=com.android.support:preference-v7
exclude=com.android.support:preference-v14
exclude=com.android.support:multidex
exclude=com.android.support:multidex-instrumentation
exclude=com.android.support:exifinterface
exclude=com.android.support:heifwriter
exclude=com.android.support:asynclayoutinflater
exclude=com.android.support:coordinatorlayout
exclude=com.android.support:swiperefreshlayout
exclude=com.android.support:viewpager
exclude=com.android.support:drawerlayout
exclude=com.android.support:slidingpanelayout
exclude=com.android.support:customview
exclude=com.android.support:cursoradapter
exclude=com.android.support:loader
exclude=com.android.support:localbroadcastmanager
exclude=com.android.support:documentfile
exclude=com.android.support:print
exclude=com.android.support:interpolator
exclude=com.android.support:versionedparcelable
exclude=com.android.support:collection
exclude=com.android.support:lifecycle-common
exclude=com.android.support:lifecycle-runtime
exclude=com.android.support:arch-core-common
exclude=com.android.support:arch-core-runtime
exclude=com.android.support:vectordrawable
exclude=com.android.support:vectordrawable-animated
exclude=com.android.support:transition
exclude=com.android.support:annotation
exclude=com.android.support:annotation-experimental
